
<div class="form-group col-md-6"></div>
<div class="container">
    <table class="table table-striped">
        <thead class="table-secondary">
            <th>IdUtilisateur</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Mot de passe</th>
            <th>Login</th>
            <th>Role</th>
            <th>Modifier</th>
            <th>Suppression</th>

        </thead>
        <tbody>
            <tr *ngFor="let utilisateur of listUtilisateur">
                <td>{{utilisateur.idUtilisateur}}</td>
                <td>{{utilisateur.nom}}</td>
                <td>{{utilisateur.prenom}}</td>
                <td>{{utilisateur.email}}</td>
                <td>{{utilisateur?.mdp}}</td>
                <td>{{utilisateur?.login}}</td>
                <td>{{utilisateur?.role}}</td>
                <td><a type="button" class="btn btn-outline-warning"
                    href="{{'http://localhost:4200/modifierutilisateur/'+utilisateur.idUtilisateur}}"  >Modifier</a></td>
                <td><button type="button" class="btn btn-outline-danger"
                    (click)="delete(utilisateur.idUtilisateur)">Supprimer</button></td>
              
               
               
            </tr>

        </tbody>
    </table>
</div>
