
<nav class="navbar navbar-expand-lg " style="background-color: brown;">
    <a class="navbar-brand police" href="home">Flocon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle police" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Listes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item police" href="listeutilisateur">Liste utilisateur </a>
            <a class="dropdown-item police" href="listelivre">Liste Livres</a>
            <a class="dropdown-item police" href="listeauteur">Liste auteur </a>
            <a class="dropdown-item police"  href="listecategorie">Liste catégorie </a>
            <a class="dropdown-item police" href="listeetagere">Liste étagère </a>
          
          </div>
        </li>
       
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle police" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ajout
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item police" href="livre">Ajouter un livre</a>
              <a class="dropdown-item police" href="auteur">Ajouter un auteur</a>
              <a class="dropdown-item police" href="categorie">Ajouter une catégorie</a>
              <a class="dropdown-item police" href="etagere">Ajouter une étagère</a>
            
            </div>
          </li>
          
      </ul>
    </div>
    <div *ngIf="condition"> <!-- ngIf pour les conditions connexion et deconnexion mis dans le header.ts-->
    <td><a href="utilisateur">
      <img src='../../assets//deer.png' class="taille"> <!--mettre l inscription dans une image, avec une petite taille du css -->
    </a></td>
    </div>
    <div *ngIf="!condition">
    <td><a >
      <img src='../../assets/exit.png' (click)="deconnexion()"class="taille"> <!--mettre l inscription dans une image, avec une petite taille du css -->
    </a></td>
  </div>
  </nav>
  


