<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-2 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4 police">Bibliothèque Neige</h5>
          <p class="police">Vous trouverez dans cette bibliothèque de nombreuses références hivernales et disponible en grande quantité tel de petit flocon.</p>
          <p class="police">Nos livres peuvent être acheter ou emprunter mais pour une durée limitée car ils ne supportent pas la chaleur.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-1 col-lg-1 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4 police">About</h5>
  
          <ul class="list-unstyled police">
            <li>
              <p>
                <a href="info">Information hiver</a>
              </p>
            </li>
            <li>
              <p>
                <a href="visite">Visite glacière</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!"></a>
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-1 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4 police">Adresse</h5>
  
          <ul class="list-unstyled police">
            <li>
              <p>
                <i class="fas fa-home mr-3"></i> Arendelle, A 4815, NV</p>
            </li>
            <li>
              <p>
                <i class="fas fa-envelope mr-3"></i> neige@gmail.com</p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            </li>
            <li>
              <p>
                <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-1 col-lg-6 text-center mx-auto my-4">
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <div class="container">
      <audio controls>
        <source src="../../assets/la-reine-des-neiges-je-voudrais-un-bonhomme-de-neige-i-disney.mp3" type="audio/mpeg">
      </audio>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://Neige.com/bibliotheque"> neige.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->