<fa-icon [icon]="faFeather"size= "6x" [spin]="isSyncAnimated" (click)="isSyncAnimated=!isSyncAnimated" pull="left"></fa-icon>

<div class="container">
    <table class="table table-striped">
        <thead class="table-warning">
            <th>IdAuteur</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Afficher ses livres</th>
            <th>Modifier </th>
            <th>Suppression</th>
    

        </thead>
        <tbody>
            <tr *ngFor="let auteur of listAuteur">
                <td>{{auteur.idAuteur}}</td>
                <td>{{auteur.nom}}</td>
                <td>{{auteur.prenom}}</td>

                <td><a type="button" class="btn btn-outline-success"
                    href="{{'http://localhost:4200/afficherlivre/'+auteur.idAuteur}}">Afficher ses livres</a></td>
                    <td><a type="button" class="btn btn-outline-secondary"
                        href="{{'http://localhost:4200/modifierauteur/'+auteur.idAuteur}}">Modifier</a></td>   
                <td><button type="button" class="btn btn-outline-danger"
                    (click)="delete(auteur.idAuteur)">Supprimer</button></td>
              
               
               
            </tr>

        </tbody>
    </table>
</div>
