
<div class="container">
    <div class="form-group col-md-6"></div>
<div class="card mb-4" style="max-width: 700px;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../assets/olaf.jpg" class="card-img,text-center" alt="...">
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title police">Bibliothèque Neige</h5>
          <p class="card-text police">La bibliothèque BO a été créée par l'association de deux soeurs Elsa et Anna en hommage à leur passion pour les livres qui ont bouleversés leurs vies suite à la mort de leur parent.
           De nombreuses oeuvres y sont présentes et conservées dans un très bon état de plus la bibliothèque reçoit de nombreux dons pour que la bibliothèque reste présente encore de nombreuses années.
          </p>
          <p class="card-text"><small class="text-muted">bibliothèque.BO.article</small></p>
        </div>
      </div>
    </div>
  </div>
</div>