
<body>
    
    <form>
        
        <div class="container" >
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="affectationutilisateur">Utilisateur</label>
                    <select class="form-control" name="Utilisateur" id="Utilisateur" [(ngModel)]="idUser">
                        <option *ngFor="let utilisateur of listUtilisateur" [ngValue]="utilisateur.idUtilisateur">{{utilisateur.login}}
                        </option> <!-- utilisateur vient de la liste utilisateur puis on injecte dans le ng value puis dans le ngModel-->
                    </select>
                </div>
                <div class="form-group col-md-6"></div>
                <div class="form-group col-md-4">
                    <label for="affectationrole">Role</label>
                    <select class="form-control" name="role" id="role" [(ngModel)]="idRole">
                        <option *ngFor="let role of listRole" [ngValue]="role.idRole">{{role.libelleRole}}
                        </option>
                    </select>
                </div>
              
            </div>

            <td><button type="button" class="btn btn-outline-info"
                (click)="affecter()" >Ajouter un role</button></td>
       
              
         </div>
        
    </form>

</body>

