<div class="form-group col-md-6"></div>

<div class="form-group col-md-6"></div>
<div class="container">
    <table class="table table-striped">
        <thead class="table-secondary">
            <th>Titre</th>
            <th>Résumé</th>
        </thead>
        <tbody>
            <tr>
                <td>{{livre.titre}}</td>
                <td>{{livre.resume}}</td> 
            </tr>

        </tbody>
    </table>
</div>
<div class="container"*ngIf="!condition">
<td><button type="button" class="btn btn-outline-danger"
   (click)="affecterUtilisateur()" >Réserver ce livre</button></td></div>