<body>
    <form>
        <div class="container">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="libelleEtagere">Etagere</label>
                    <input [(ngModel)]="newEtagere.libelleEtagere" type="text" name="libelleEtagere" class="form-control" id="libelleEtagere">
                </div>

           
            </div>
            <td><button type="button" class="btn btn-outline-danger"
                (click)="addEtagere()">Ajouter</button></td>
            
                <td><a type="button" class="btn btn-outline-success"
                    href="listeetagere">Liste des étagères</a></td>

        </div>
    </form>
</body>