<body>
    <form>
        <div class="container">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="libelle">Categorie</label>
                    <input [(ngModel)]="categorie.libelle" type="text" name="libelle" class="form-control" id="libelle">
                </div>
               

            
                
            </div>
            <td><button type="button" class="btn btn-outline-danger"
                (click)="update()">Modifier</button></td>
        </div>
    </form>
</body>
