
<body>
    <form>  
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active taille">
                        <img src="../../assets/bibliotheque.jpg " class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text-center"style="color:  crimson;">Bibliothèque BO</h1>
                            <p style="color: rgb(231, 14, 50);">Un jour un livre, un jour une histoire...</p>
                          </div>
                    </div>
                    <div class="carousel-item taille">
                        <img src="../../assets/livreouvert.jpg " class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text-center" style="color: crimson;">Bibliothèque BO</h1>
                            <p style="color: rgb(231, 14, 50);">Un jour un livre, un jour une histoire...</p>
                          </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        
    </form>
</body>
<app-footer></app-footer>